<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title></title>
    </head>
    <body onload="document.form1.submit()">
        <form name="form1" method="POST" action="https://www.eidtoolkit.be/services/LoginService.aspx">
            <input name="LID" type="hidden" value="1cefc59d-5079-444a-ba42-af9b863d382d" />
            <!--URL aanpassen voor webspace -->
            <input name="UrlSucceeded" type="hidden" value="http://timbauwens1.ikdoeict.be/projecten1/ERSite/web/register" />
        </form>
    </body>
</html>